<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>

  <div class="field">
    <%= f.label :total_price %>
    <%= f.text_field :total_price, :disabled => true %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.collection_select(:user_id, User.all, :id, :email) %>
  </div>


  <div class="field">
    <% Product.all.collect {|x| [x.name, x.id]}.each do |c| -%>
        <%= label_tag(name=c.first) %>
        <%= number_field_tag( 'order[product_qty][]','',min:1) %>
        <%= hidden_field_tag( 'order[product_ids][]',c.last) %>
    <% end %>
  </div>

    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
