<p id="notice"><%= notice %></p>

<h1>Orders</h1>
<div id='warning'>

</div>
<div class="input-group input-daterange">
  <div class="input-group-addon" >from</div>
  <input type="date" class="form-control" id="start" value="2017-00-00" onchange="getOrders(this.value,document.getElementById('ends').value)">
  <div class="input-group-addon">to</div>
  <input type="date" class="form-control" id="ends" value="2017-00-00" onchange="getOrders(document.getElementById('start').value,this.value)">
</div>
<br>
<table class="table table-hover" >
  <thead>
    <tr>
      <th>Order Date</th>
      <th>Status</th>
      <th>Total price</th>
      <th>Action</th
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr id= "<%= order.id %>" class="orderInfo">
        <td><%= order.created_at %><button type="button" class="btn btn-default btn-sm"  id= "<%= order.id %>" onclick="getProducts(this.id)">
          <span class="glyphicon glyphicon-plus" name= "<%= order.id %>"></span></button></td>
        <td><%= order.status %></td>
        <td><%= order.total_price %></td>
        <td>
        <% if order.status == "processing" %>
        <%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan=4>
        <div id="orderProducts" class="clear" >

        </div>
      </td>
    </tr>
    <tr>
      <td colspan=4>
        <div id="amount" class="clear">
        </div>
      </td>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'New Order', new_order_path %>
