<p id="notice"><%= notice %></p>

<h1>Orders</h1>
  <div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover" >
  <thead>
    <tr>
      <th>Order Date</th>
      <th>Status</th>
      <th>Total price</th>
      <th>Action</th
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr id= "<%= order.id %>">
        <td><%= order.created_at %><button type="button" class="btn btn-default btn-sm"  id= "<%= order.id %>" onclick="getProducts(this.id)">
          <span class="glyphicon glyphicon-plus" name= "<%= order.id %>"></span></button></td>
        <td><%= order.status %></td>
        <td><%= order.total_price %></td>
        <td>
        <% if order.status == "processing" %>
        <%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan=4>
        <div id="orderProducts" class="clear" >

        </div>
      </td>
    </tr>
    <tr>
      <td colspan=4>
        <div id="amount" class="clear">

        </div>
      </td>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'New Order', new_order_path %>
