<%= form_for(product) do |f| %>
    <div class="container" >
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name , :class => "form-control"%>
  </div>

      <%= f.label :image %>
  <label class="btn btn-default btn-file" >
    <%= f.file_field :Image %>
  </label>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price, :class => "form-control" %>
  </div>

      <%= f.label :status %>
  <div  class="form-control status ">
    <%= f.select(:status, [['Available','available'], ['Unavailable','unavailable']] )  %>
  </div>
      <br>

      <%= f.label :category %>
  <div class="form-control category ">
    <!-- <% categories_array = Category.all.map{ |category| [category.name, category.id ] } %> -->
    <%= f.collection_select(:category_id, Category.all, :id, :name ) %>
    <%= link_to 'Add Category', new_category_path %>
  </div>
 <br>

  <div class="actions">
    <%= f.submit %>
    <input type="reset" name="reset" value="Reset">
  </div>
    </div>
<% end %>
