<p id="notice"><%= notice %></p>

<h1>Orders</h1>
<div class="container" id="onServiceOrders">
  <% @orders.each do |order| %>
  <table class="table table-hover" id= "<%= order.id %>">
    <thead>
      <tr>
        <th>Order Date</th>
        <th>Name</th>
        <th>Room</th>
        <th>EXT.</th>
        <th>Action</th
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= order.created_at %> </td>
          <td><%=order.user.first_name%> <%= order.user.last_name%></td>
          <td><%= order.room_id%></td>
          <td><%= order.user.extension%></td>
          <td>
            <a href="/adminHome/change/<%=order.user.id%>/<%=order.id%>">Deliver</a>
          </td>
        </tr>
      <tr>
        <td colspan=4>
          <div id="orderProducts" class="clear" >
            <% order.order_products.each do |order_product| %>
            <div class="col-md-2 column productbox">
              <img src="<%=order_product.product.Image.url%>" class="img-responsive">
              <div class="producttitle"><%=order_product.product.name%></div>
              <div class="productprice"><div class="pull-left"><%=order_product.quantity%></div><div class="pricetext bg-primary text-white pull-right"><%=order_product.product.price%>LE</div></div>
            </div>
            <% end %>
          </div>
        </td>
        <td><span class="label label-info" >Total:EGP<%=order.total_price%></span></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>
<br>
